*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #cababa;
}
.areaPrincipal{
    background-image: url("../IMG/Take-a-restaurant-plataforma-640x360.webp");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    opacity: 0.7;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size:100% 100%;
}
#encabezado{
    background: #b1c3c7;
    height: 240px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 180px 180px;
}
.piePagina{
    width: 100%;
    height: 10%;
    background: #b1c3c7;
    color: rgb(10, 10, 10);
    bottom: 0;
    position: fixed;
    left: 0;
}
#menu{
    height: 40%;
    position: relative;
    top: 50px;
}
ul{
    list-style-type: none;
    margin: 1;
    padding: 1;
    overflow: hidden;
    background-color: #29a5b6;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li a:hover{
    background-color: #8ec9db;
}
#datos{
    width: 60%;
    background-color: #36adca;
    height: 70%;
    margin: auto;
    opacity: 1;
    color: #050505;
    padding: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contenido{
    background-image: url("../IMG/Restaurantes-mexicanos-Cancun.webp");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    opacity: 0.7;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size:100% 100%;
}
.productos{
    background-image: url("../IMG/descarga\ \(3\).jfif");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    opacity: 0.7;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size:100% 100%;
}
.galeria{
    background-image: url("../IMG/restaurantes-comida-mexicana-cdmx-1024x683.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    opacity: 0.7;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size:100% 100%;
}
.contacto{
    background-image: url("../IMG/202944562-fiesta-del-cinco-de-mayo-comida-fiesta-mexicana-cinco-de-mayo-platos-tradicionales-bocadillos.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    opacity: 0.7;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size:100% 100%;
}